@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

body {
    background-color: #fff
}

h1 {
    color: #4E5150
}

h3 {
    margin-bottom: 20px
}

label {
    font-size: 12px;
    line-height: 30px;
    color: #4f4f4f
}

.container {
    margin: 5% 20% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.4fr 2fr 0.2fr;
    gap: 0 0;
    grid-template-areas: "header header""content content""footer footer"
}

.header {
    grid-area: header
}

.content {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0 100px;
    grid-auto-flow: row;
    grid-template-areas: "form box""form box""form box";
    grid-area: content
}

.form {
    grid-area: form
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    padding-left: 50px;
    margin-bottom: 20px
}

select {
    width: 95%;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 12px;
    padding-left: 50px;
    margin-bottom: 20px;
    background: url(images/icons8-globe-24.png)no-repeat 12px;
    margin-right: 100px
}

input[type="email"] {
    background: url(images/icons8-mail-50.png) no-repeat 12px;
    background-size: 23px
}

input[name='phone'] {
    background: url(images/icons8-phone-24.png) no-repeat 12px;
    background-size: 23px
}

input[name='name'] {
    background: url(images/icons8-male-user-24.png) no-repeat 12px;
    background-size: 23px
}

input[name='address'] {
    background: url(images/icons8-home-24.png) no-repeat 12px;
    background-size: 23px
}

input[name='city'] {
    background: url(images/icons8-city-buildings-50.png) no-repeat 12px;
    background-size: 23px
}

input[name='postal'] {
    background: url(images/icons8-open-box-24.png) no-repeat 12px;
    background-size: 23px
}

.flex-input,
.checkbox {
    display: flex
}

input[type='checkbox'] {
    width: 18px;
    margin-right: 10px
}

.checkbox p {
    padding-top: 12px;
    font-size: 12px;
    color: #4f4f4f;
    font-weight: 700
}

button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #F2994A;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    left: 72%
}

.box {
    grid-area: box;
    background-color: #f2f2f2;
    border-radius: 12px;
    width: 380px;
    height: 535px
}

.box-item {
    margin: 40px 20px;
    display: flex;
    line-height: 30px
}

img {
    width: 120px;
    margin-right: 20px;
    border-radius: 12px
}

p.photo-name {
    font-weight: 700
}

p.active {
    color: #F2994A;
    float: left;
    padding-right: 20px;
    font-weight: 700
}

p.pricetag {
    font-size: 12px;
    font-weight: 700;
    text-decoration: line-through
}

.wrapper {
    border: 1px solid #828282;
    min-width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-top: 20px
}

.wrapper span {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700
}

.wrapper span.min {
    background-color: #bdbdbd;
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer
}

.wrapper span.plus {
    background-color: #bdbdbd;
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer
}

.wrapper span.min2 {
    background-color: #bdbdbd;
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer
}

.wrapper span.plus2 {
    background-color: #bdbdbd;
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer
}

.shipping,
.total {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-weight: 700
}

hr {
    margin: 20px;
    border-top: 1px solid #bdbdbd
}

.footer {
    grid-area: footer;
    width: 100%
}

.footer p,
.footer a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #828282;
    margin-top: 100px
}

@media screen and (max-width:1440px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 0.7fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 0 50px;
        grid-auto-flow: row;
        grid-template-areas: "form box""form box""form box";
        grid-area: content
    }

    button {
        left: 60%
    }
}

@media screen and (max-width:900px) {
    .container {
        margin: 50px 20px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.45fr 2fr 0.1fr;
        gap: 20px 20px;
        grid-template-areas: "header header""content content""footer footer"
    }

    .content {
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 0 50px;
        grid-auto-flow: row;
        grid-template-areas: "form box""form box""form box";
        grid-area: content
    }
}

@media screen and (max-width:600px) {
    .container {
        margin: 20px
    }

    .content {
        max-width: 90%;
        height: 1100px;
        gap: 0 0;
        grid-template-areas: "box""form""form";
        grid-area: content
    }

    .header {
        height: 100px
    }

    .box {
        position: relative;
        bottom: 180px
    }

    .form {
        position: relative;
        bottom: 120px
    }

    .footer {
        position: relative;
        bottom: 0;
        margin-top: 100px
    }
}